/*colors
#e8f2f7 - light blue
#2a607c - water blue
#607c2a - green
#7c2a60 - purple
#333333 - gray */


/* GLOBAL HTML ELEMENTS */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #e8f2f7;
}

a {
    color: #333333;
    text-decoration: none;
    background-color: #607c2a;

}



a:visited {
	color: #7c2a60;
}

p {
    font-size: 16px;
    color: #333333;
    padding: 3px 0;

}

/*END GLOBAL ELEMENTS */

/*HERE IS THE HEADER SECTION*/

header {
    padding: 20px;
    background-color: #2a607c;
    color: #e8f2f7;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    align-items: center;
}

nav ul {
    display: flex;
    padding-right: 20px;
}

@media screen and (max-width: 840px) {
    nav ul {
        flex-direction: column;
    }
  }



nav ul li {
    margin: 5px 10px;
    padding: 10px;
    font-size: 20px;
    list-style-type: none;
    background-color: #607c2a;
    color: #e8f2f7;
    
}

nav ul li a {
    padding: 5px;
}

/*END OF HEADER SECTION*/


/*TOP IMAGE */
 
.picture-text {
    background-image: url("../../assets/images/coast.jpg");
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    color: #e8f2f7;
}


/*END OF TOP IMAGE*/


/* START OF MAIN */

main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

aside {
    flex: 1;
    border-right: solid #333333 5px;
    margin-right: 20px;
}

aside h2 {
    text-align: right;
    padding-right: 10px;
}

.container div {
    flex: 6;
}

/*Right Content section*/

.box-container {
    display: flex;
    flex-direction: column;
}

.imagelink {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

.imagelinks {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.image-big {
    flex: 1;
    margin: 5px 5px;
    height: 400px;
}

.image-small {
    margin: 5px 5px;
    height: 200px;
}

.imageOne {
    background-image: url('../images/beach.jpg');
    background-size: cover;
}

.imageTwo {
    background-image: url('../images/purple-sunset.jpg');
    background-size: cover;
}

.imageThree {
    background-image: url('../images/river-rocks.jpg');
    background-size: cover;
}

.imageFour {
    background-image: url('../images/forest.jpg');
    background-size: cover;
}

.imageFive {
    background-image: url('../images/wild-grass.jpg');
    background-size: cover;
}


/* START OF FOOTER SECTION */

.findme {
    background-color: #607c2a;
    display: flex;
    text-align: center;
}

div ul {
    display: inline-flex;
    flex: 1;
    justify-content: space-around;
    height: 45px;
    align-items: center;
}

div ul li {
    font-size: 20px;
    list-style-type: none;
    background-color: #607c2a;
    color: #e8f2f7;

}

